* {
    padding: 0;
    margin: 0;
}

.box {
    width: 100%;
    height: 100px;
    margin: 50px auto;
    margin-left: 300px;
}

.navqie > li {
    width: 140px;
    height: 50px;
    list-style: none;
    background: orange;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;
    font-size: 14px;
    color: #555966;
    font-size: 16px;
    margin-bottom: 13px;
}

.navqie > .current {
    background: #ccc;
}

.navqie > .current:hover {
    border-bottom: 1px solid #1e93ff;
}

.contentqie > li {
    list-style: none;
}

.contentqie > li {
    display: none;
}

.contentqie > .show {
    display: block;
}

.divcon {
    margin-top: 50px;
}

.navqie > li > a {
    text-decoration: none;
    color: #0e2642;
}

.navqie > li > a:hover {

    color: #1e93ff;

}

.advise > li {
    list-style: none;
    margin-top: 20px;
    border-bottom: 1px dashed #d9d9d9;
    margin-right: 400px;
    height: 52px;
    line-height: 52px;
    border-bottom: 1px dashed #d9d9d9;

}

.circle {
    position: absolute;
    width: 910px;
    height: 280px;
    color: #555966;
    margin-top: 32px;
    background-repeat: no-repeat;
    background: url("../image/products-circle-bg.png");
}

.webdesc li {
    list-style: none;
    display: inline-block;
    width: 220px;
    line-height: 20px;
}

.webdesc {
    width: 1000px;
}

.emm {
    width: 36px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    font-style: normal;
    padding: 12px;
    background-repeat: no-repeat;
    background-size: 36px 42px;
    background: url("../image/products-index-bg.png") center center;
}
.eye{
    text-align: center;
    background-color: #fafafb;
    padding-bottom: 29px;
    width: 16.75%;
    margin-top: 10px;
    display: inline-block;
}
.eye img{
    width: 48px;
    height: 48px;
    margin: 20px 0 10px;
}

.seo li{
    list-style: none;
    display: inline-block;
}
.doole{

    font-size: 2.5rem;
    line-height: 1;
    padding-bottom: 2.5rem;
    padding-top: 5rem;
    color: #969696;
    letter-spacing: 0;

    text-align: center;
    border-bottom: 1px #E8E8E9 solid;
}
.dooles{

    font-size: 2.5rem;
    line-height: 1;
    padding-bottom: 2.5rem;
    padding-top: 5rem;
    color: #969696;
    letter-spacing: 0;
    text-align: center;
}
.dooles a{
    text-decoration: none;
    border: 1px solid #2472dc;
    border-radius: 2rem;
    width: 80px;
    font-size: 1.2rem;
    color: #2472dc;
    line-height: 2.5rem;
    text-align: center;
    padding: 15px;
    margin: 2.5rem auto;
    cursor: pointer;
}

.hexin{
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    font-size: 1.6rem;
    color: #505050;
    text-align: center;
    margin-top: -150px;
  /*  transform: -webkit-translate(0%, -50%);
    transform: -moz-translate(0%, -50%);
    transform: -o-translate(0%, -50%);
    transform: -ms-translate(0%, -50%);*/
    transform: translate(0%, -50%);
    padding: 20px;
}
.imgine{
   position: absolute;
    margin-top: 20px;
}
.bd-desc-content{
    display: none;
    font-size: 1.5rem;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
}
.mores{

    position: absolute;
    left: 50%;
    bottom: 25px;
    padding: 8px 12px;
    background: #ffffff;
    border-radius: 6px;
    font-size: 14px;
    color: #2298f4;
    text-align: center;
  /*  transform: -webkit-translate(-50%, 0);
    transform: -moz-translate(-50%, 0);
    transform: -o-translate(-50%, 0);
    transform: -ms-translate(-50%, 0);
    transform: translate(-50%, 0);*/
    cursor: pointer;
}